body, html{
    width: 100vw;
    height: 100vh;
}

.main-container, .hero-body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-body{
    flex-direction: column;
}